<div class="container-fluid">
  <div class="col-6">
    <table class="table">
      <thead class="table-dark">
        <tr>
          <th class="h4">#</th>
          <th class="h4">Marca</th>
          <th class="h4">Linea</th>
          <th class="h4">Modelo</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let veh of vehiculos">
          <th>
            <dd>{{veh.id}}</dd>
          </th>
          <td>
            <dd>{{veh.marca}}</dd>
          </td>
          <td>
            <dd>{{veh.linea}}</dd>
          </td>
          <td>
            <dd>{{veh.modelo}}</dd>
          </td>
      </tr>
      </tbody>
    </table>
  </div>
</div>

<div class="p-2">
  <p class="m-0">Total Renult: {{totalRenult}}</p>
  <p class="m-0">Total Chevrolet: {{totalChevrolet}}</p>
  <p class="m-0">Total Nissan: {{totalNissan}}</p>
</div>

